<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <style>
        .text-button {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 16px;
            color: black;
            cursor: pointer;
            margin-top: 52px;
            margin-left: 11px;
            width: 49px;
            height: 19px;
          }
        </style>
</head>
<body>
<p> 메인 페이지ㅣㅣㅣㅣㅣ</p>
<span class="text-button" onclick="location.href='/contentDetail2'"> >>> 상세페이지 버튼 <<< </span >
</body>
</html>
