<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/mainMenu.css" />
</head>
<body>
<div class="iphone">
  <div class="div">


    <div class="overlap" onclick="moveHref(0)">
      <div class="text-wrapper-3" >번역 시작</div>
      <div class="text-wrapper-4">자유롭게 소통해보세요</div>
    </div>
    <div class="overlap-2"  onclick="moveHref(1)">
      <div class="text-wrapper-3 ">여행 시작</div>
      <div class="text-wrapper-4">나만의 여행지를 찾아보세요</div>
    </div>
    <div class="text-wrapper-5">TRAVEL</div>
  </div>
</div>
</body>
</html>
<script>
  function moveHref(urlStr) {
    if (urlStr === 0){
      window.location.hre = '/app'

    }else if(urlStr === 1){
      window.location.href = '/main'

    }else {
      confirm(' 잘못 된 정보 입력 ')
      history.go(0);
    }
  }
</script>