<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/search.css" />
    <script src="/js/openApiCall.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class = "search">
    <div class="div">
        <div class="group-11"></div>
        <div class="rectangle-32"></div>
        <div class="text"></div>
        <input class="vector" id="inputText" rows="4" cols="30" onchange="callApiInfo(this.value)">

        </input>
        <button class="ic_search">

        </button>
        <p id="result"></p>
    </div>
</div>
</body>
</html>
<script>
    callApiInfo()
</script>